---
name: 기능 테스트
about: 기능 테스트
title: "[test]"
labels: "테스트"
assignees: 'username'

---

# ⚠️ Issue
> 테스트하려는 기능에 대해 간결하게 설명해주세요

# 📋 Details
> 기능 테스트를 위해 어떤 작업을 수행할 것인지 자세히 설명해주세요.
- todo1
- todo2

# ✏️ ToDoList
- [ ] 도메인 단위 테스트
- [ ] 서비스 통합 테스트

# 🦉 관련 Issue
> 해당 기능과 관련된 이슈를 ex) #12 형태로 기재해주세요.